@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wrapper {
    display: flex;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


#sidebar.active {
    margin-left: -250px;
    box-shadow: none;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar a[aria-expanded="false"]::before, #sidebar a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

#sidebar a[aria-expanded="true"]::before {
    content: '\e260';
}


/*
    ADDITIONAL STYLE
*/

.const-grey, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #212529;
    color: #eee;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 1px;
    background: #2f363b;
}

#sidebar ul.components {
    padding: 5px 0;
    /*border-bottom: 0px solid #000000;*/
}

#sidebar ul p {
    color: #000000;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #ffffff;
    background: #161b1c;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #ffffff;
    background: #337ab7;
}
#sidebar ul ul a {
    font-size: 1.0em !important;
    padding-left: 30px !important;
    background: #255885;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.pos{
    width: calc(100%);
}

.separator{
  float:left;
  width:100%;
  border-bottom: 2px solid black;
}

#content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.delete_button{
    background-color: #b70000;
    color: white;
    float: right;
}
