{% extends "layout.html" %}

{% block title %}Добавить курс{% endblock %}

{% block side_navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}
<div class='content'>
    {{ show_messages() }}
    {% set button_text = {'add_course': 'Добавить курс',
                          'edit_course': 'Обновить курс'} %}
    {{ render_form(form, button_text[endpoint]) }}
    <br>
    {% if endpoint == 'edit_course' %}
        <a href="/delete_course/{{ course.id }}"
                class='btn btn-danger delete_button'>
            Удалить курс
        </a>
    {% endif %}
</div>
{% endblock %}
