{% extends "layout.html" %}
{% from "tools.html" import render_field, show_messages %}

{% block title %}Добавить задание{% endblock %}

{% block page_css %}
    textarea {
        resize: vertical;
    }
{% endblock %}

{% block side_navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}

<div class='content'>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/add_task/test">Тест</a></li>
      <li role="presentation" class="active"><a href="/add_task/notebook">Ноутбук</a></li>
      <li role="presentation"><a href="/add_task/programming">Программирование</a></li>
    </ul>
    <br>

    {{ show_messages() }}
    {% set button_text = {'add_task_notebook': 'Добавить задание',
                          'edit_task_notebook': 'Обновить задание'} %}

    <form method='POST' enctype='multipart/form-data'>
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        {{ render_field(form.intro_description) }}

        <div data-fieldlist-main>
            {% for file in form.solution_files.entries %}
                <div class='row'>
                    <div class='col-xs-9'>
                        {% if loop.index == 1 %}
                            {{ file['name'].label }}
                        {% endif %}
                    </div>
                    <div class='col-xs-3'>
                        {% if loop.index == 1 %}
                            {{ file['max_size'].label }}
                        {% endif %}
                    </div>
                </div>
                <div class='row' data-fieldlist-entry>
                    <div class='form-group col-xs-9'>
                        {{ file['name'] }}
                    </div>
                    <div class='form-group col-xs-3'>
                        {{ file['max_size'] }}
                    </div>
                </div>
            {% endfor %}
            <div class='form-group'>
                <a class='btn btn-primary' href='#' role='button' data-fieldlist-add>Добавить файл</a>
                <a class='btn btn-warning' href='#' role='button' data-fieldlist-remove>Удалить файл</a>
            </div>
        </div>

        {{ render_field(form.solution_template) }}
        {{ render_field(form.solution_reference) }}

        {{ render_field(form.use_peer_review) }}

        <div id='peer_review_settings'>
            {{ render_field(form.peer_review_criteria) }}
        <ol style="padding-left: 0">
        <div id="review_rules">
            <div data-fieldlist>
                {% for item in form.peer_review_items.entries %}
                    <div data-fieldlist-entry>
                        <li style="font-weight: bold">{{ render_field(item['name']) }}</li>

                        <div data-fieldlist>
                            {% for rule in item['rules'] %}
                                {% if loop.index == 1 %}
                                    {{ rule.label }}<br>
                                {% endif %}
                                <div data-fieldlist-entry>
                                    <div class='row'>
                                        <div class='col-xs-2'>
                                            {{ render_field(rule['mark'], render_label=False) }}
                                        </div>
                                        <div class='col-xs-10'>
                                            {{ render_field(rule['mark_description'], render_label=False) }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class='form-group'>
                                <a class='btn btn-primary' href='#' role='button' data-fieldlist-add>Добавить критерий</a>
                                <a class='btn btn-warning' href='#' role='button' data-fieldlist-remove>Удалить критерий</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class='form-group'>
                    <a class='btn btn-primary' href='#' role='button' data-fieldlist-add>Добавить пункт</a>
                    <a class='btn btn-warning' href='#' role='button' data-fieldlist-remove>Удалить пункт</a>
                </div>
            </div>
        </div>
        </ol>
        </div>


        <button type='submit' class='btn btn-default'>
            {{ button_text[endpoint] }}
        </button>
        {% if endpoint == 'edit_task_notebook' %}
            <a href="/delete_task/{{ task_id }}"
                    class='btn btn-danger delete_button'>
                Удалить задание
            </a>
        {% endif %}
    </form>
</div>

<script type='text/javascript'>
$('input[type=file]').bootstrapFileInput();
</script>

<script type='text/javascript'>

if (!$('#use_peer_review')[0].checked) {
    $("#peer_review_settings").hide();
}

$('#use_peer_review').change(function() {
    $("#peer_review_settings").toggle(this.checked);
});

$(function() {
    $("#review_rules").on("click", "[data-fieldlist-add]", function() {
        console.log("add");
        var $this = $(this).closest("[data-fieldlist]");
        var entry = $this.children("[data-fieldlist-entry]:last");
        console.log(entry);
        var new_entry = entry.clone(true, true);

        var elem_id = new_entry.find(":input")[0].id;
        var elem_prefix = elem_id.replace(/(.*)-(\d{1,4})-(.*)/m, '$1')// max 4 digits for ids in list
        var elem_num = parseInt(elem_id.replace(/(.*)-(\d{1,4})/m, '$2')) + 1;

        new_entry.find(':input').each(function() {
            var id = $(this).attr('id').replace(elem_prefix+'-' + (elem_num - 1), elem_prefix+'-' + (elem_num));
            $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
        });
        new_entry.show();
        entry.after(new_entry);
        return false;
    });
    $("#review_rules").on("click", "[data-fieldlist-remove]", function() {
        var $this = $(this).closest("[data-fieldlist]");
        if ($this.children("[data-fieldlist-entry]").length > 1) {
            $this.children("[data-fieldlist-entry]:last").remove();
        }
        return false;
    });
});

</script>

<script type='text/javascript'>
$(function() {
    $("[data-fieldlist-main]").each(function() {
        var $this = $(this);

        $this.find("[data-fieldlist-add]").click(function() {
            var entry = $this.find("[data-fieldlist-entry]:last");
            var new_entry = entry.clone(true, true);

            var elem_id = new_entry.find(":input")[0].id;
            var elem_prefix = elem_id.replace(/(.*)-(\d{1,4})-(.*)/m, '$1')// max 4 digits for ids in list
            var elem_num = parseInt(elem_id.replace(/(.*)-(\d{1,4})/m, '$2')) + 1;

            new_entry.find(':input').each(function() {
                var id = $(this).attr('id').replace(elem_prefix+'-' + (elem_num - 1), elem_prefix+'-' + (elem_num));
                $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
            });
            new_entry.show();
            entry.after(new_entry);
            return false;
        });

        $this.find("[data-fieldlist-remove]").click(function() {
            if ($this.find("[data-fieldlist-entry]").length > 1) {
                $this.find("[data-fieldlist-entry]:last").remove();
            }
            return false;
        });
    });
});
</script>

{% endblock %}
