{% extends "layout.html" %}
{% from "tools.html" import render_field, show_messages %}

{% block title %}Прикрепить задание{% endblock %}

{% block side_navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}
<div class='content'>
    {{ show_messages() }}
    {% set button_text = {'attach_task': 'Прикрепить задание',
                          'edit_attached_task': 'Обновить прикрепление'} %}

    <form method='POST'>
        {{ form.csrf_token }}
        {{ render_field(form.group_id) }}
        {{ render_field(form.task_id) }}
        {{ render_field(form.start_date) }}
        {{ render_field(form.middle_date) }}
        {{ render_field(form.finish_date) }}
        {{ render_field(form.mark_formula) }}
        {{ render_field(form.mark_formula_description) }}
        {{ render_field(form.hide_results_before_deadline) }}
        {{ render_field(form.allow_solutions_after_deadline) }}
        {{ render_field(form.use_peer_review) }}

        <div id='peer_review_settings'>

        {{ render_field(form.peer_review_date) }}
        <label>
            Количество рецензий
        </label>
        <p class="help-block">Если Вы хотите, чтобы студентов оценивал только преподаватель, выставьте нули в полях "Минимальное" и "Максимальное"</p>
        <div class='row'>
            <div class='form-group col-xs-6'>
                {{ render_field(form.min_peer_reviews) }}
            </div>
            <div class='form-group col-xs-6'>
                {{ render_field(form.max_peer_reviews) }}
            </div>
        </div>

        </div>

        <button type='submit' class='btn btn-default'>
            {{ button_text[endpoint] }}
        </button>
    </form>
</div>

<script type='text/javascript'>

if (!$('#use_peer_review')[0].checked) {
    $("#peer_review_settings").hide();
}

$('#use_peer_review').change(function() {
    $("#peer_review_settings").toggle(this.checked);
});

$(function() {
    $("#review_rules").on("click", "[data-fieldlist-add]", function() {
        console.log("add");
        var $this = $(this).closest("[data-fieldlist]");
        var entry = $this.children("[data-fieldlist-entry]:last");
        console.log(entry);
        var new_entry = entry.clone(true, true);

        var elem_id = new_entry.find(":input")[0].id;
        var elem_prefix = elem_id.replace(/(.*)-(\d{1,4})-(.*)/m, '$1')// max 4 digits for ids in list
        var elem_num = parseInt(elem_id.replace(/(.*)-(\d{1,4})/m, '$2')) + 1;

        new_entry.find(':input').each(function() {
            var id = $(this).attr('id').replace(elem_prefix+'-' + (elem_num - 1), elem_prefix+'-' + (elem_num));
            $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
        });
        new_entry.show();
        entry.after(new_entry);
        return false;
    });
    $("#review_rules").on("click", "[data-fieldlist-remove]", function() {
        var $this = $(this).closest("[data-fieldlist]");
        if ($this.children("[data-fieldlist-entry]").length > 1) {
            $this.children("[data-fieldlist-entry]:last").remove();
        }
        return false;
    });
});

</script>

{% endblock %}
