<div id="content">
        <button type="button" id="sidebarCollapse" class="btn navbar-btn"
                style="outline: none;
                margin-left: -35px;
                {#margin-top: 30px;#}
                background-color: #337ab7;
                color: #ffffff;
                padding: 7px;
                position: fixed;
">
            <span class="glyphicon glyphicon-align-left" style=""></span>
        </button>