{% if request_id is defined %}
    <!-- request id: {{ request_id }} -->
{% endif %}

{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block page_css %}
    ol {
        padding-left: 15px;
    }
{% endblock %}

{% block side_navbar %}
<nav id="sidebar" style="overflow:auto">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h4 style="text-align: center">{{ current_user.firstname }}</h4>
    </div>

     <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <!-- Link with dropdown items -->
        {% include 'left_dropdown_navbar.html' %}
        {% include 'course_materials_navbar.html' %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/standings'>
                Таблица результатов
            </a>
        </li>
        {% if current_user.is_admin %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/solutions'>
                Решения
            </a>
        </li>
        {% endif %}
        {% include 'profile_navbar.html' %}
    </ul>
</nav>
    {% include 'button_navbar.html' %}
{% endblock %}




{% block content %}

<div class='content'>
{{ show_messages() }}

{% if endpoint == 'course_info' %}
    {{ active_course.info | markdown }}
{% else %}
    {% if active_task %}
        <h2 class="title" style="font-weight: bold; margin-top: 0">
            {{ active_task.attach_id }}. {{ active_task.task.name }}
        </h2>
        {% if now < active_task.start_date %}
            <h4>
            Срок старта {{ active_task.start_date.strftime('%d.%m.%Y в %H:%M') }}
            </h4>
        {% endif %}
        {% if active_task.middle_date %}
            <h4>
            Промежуточный срок сдачи {{ active_task.middle_date.strftime('%d.%m.%Y в %H:%M') }}
            </h4>
        {% endif %}
            <h4>
            Срок сдачи {{ active_task.finish_date.strftime('%d.%m.%Y в %H:%M') }}
            </h4>
        {% if active_task.peer_review_date %}
            <h4>
            Срок кросс-проверки {{ active_task.peer_review_date.strftime('%d.%m.%Y в %H:%M') }}
            </h4>
        {% endif %}
            {% if current_user.is_admin and active_task.task.type == 'programming' %}
            <a href='/course/{{ active_course.id }}/task/{{ active_task.attach_id }}/rerun_solutions'>
                <span class="glyphicon glyphicon-play"></span>
                Перезапустить тестирование всех решений
            </a><br>
            {% endif %}

        {% if active_task.task.type == 'notebook' %}
            {% if 'solution_template' in active_task.task.files %}
            <a href='/task_file/{{ active_task.task.id }}/solution_template'>
                Шаблон решения</a><br><br>
            {% endif %}
            {% if active_task.task.info.get('intro_description') %}
                <h4 style="font-weight: bold">Краткое описание</h4>
                {{ active_task.task.info.get('intro_description') | markdown }}
            {% endif %}
            <div class="alert alert-info">В качестве решения требуется загружать именно ноутбук с расширением .ipynb. Конвертировать ноутбук в html не нужно. После загрузки решения проверьте, что ваш ноутбук успешно отображается в системе (ссылка в списке посылок). В противном случае ваше решение получит 0 баллов во время кросс-проверки</div>
        {% endif %}

        {% if active_task.task.type == 'programming' %}
            Лимит памяти: {{ active_task.task.info['memory_limit'] }} Мб<br>
            Лимит времени на тест: {{ active_task.task.info['time_limit'] }} сек.<br>
            {% if active_task.mark_formula_description is not none %}
                {{ active_task.mark_formula_description }}
            {% else %}
                {% if active_task.task.info['grade_policy'] == 'best_solution' %}
                    Засчитывается решение с наибольшей оценкой.
                {% else %}
                    Засчитывается последнее успешное решение.
                {% endif %}
            {% endif %}
            <br>
            {% if active_task.hide_results_before_deadline %}
                Результаты скрыты до окончания срока сдачи. Если тест завершится
                неудачно (ошибка выполнения, превышен лимит времени), то он будет
                открыт до окончания срока сдачи.
                <br>
            {% endif %}
            {% if active_task.task.type == 'programming' %}
                {{ max_solutions_string }}.
            {% endif %}

            {% if active_task.task.info.get('intro_description') %}
                <br><br>
                <h4 style="font-weight: bold">Краткое описание</h4>
                {{ active_task.task.info.get('intro_description') | markdown }}
            {% endif %}
            <br><br>
            <a href='/task_file/{{ active_task.task.id }}/task_description'>
                Описание задания</a><br>
            <a href='/task_file/{{ active_task.task.id }}/run_script'>
                Скрипт для тестирования</a><br>
            <a href='/task_file/{{ active_task.task.id }}/public_tests'>
                Публичные тесты</a><br>
            <a href='/image_build_script/{{ active_task.task.info['img_id'] }}'>
                Скрипт для настройки тестового окружения</a><br>
            {% if 'solution_template' in active_task.task.files %}
            <a href='/task_file/{{ active_task.task.id }}/solution_template'>
                Шаблон решения</a><br>
            {% endif %}
            {% if 'additional_files' in active_task.task.files %}
            <a href='/task_file/{{ active_task.task.id }}/additional_files'>
                Дополнительные файлы для решения</a><br>
            {% endif %}
            <br>
        {% endif %}

        {% if active_task.use_peer_review and current_user.is_admin %}
            <a href='/course/{{ active_course.id }}/task/{{ active_task.attach_id }}/show_reviews'>
                <span class="glyphicon glyphicon-eye-open"></span>
                Просмотр всех рецензий
            </a>
        {% endif %}
        {% if active_task.use_peer_review and current_user.is_admin %}
            <br><br>
            <a href='/course/{{ active_course.id }}/task/{{ active_task.attach_id }}/generate_reviews_csv'>
                <span class="glyphicon glyphicon-download-alt"></span>
                Сгенерировать CSV по рецензиям
            </a>
        {% endif %}

        {% if active_task.use_peer_review and now > active_task.finish_date and now < active_task.peer_review_date and show_peer_review %}
            <h4>Рецензии</h4>
            {% if reached_max_n_reviews %}
                {{ reached_max_n_reviews }}
            {% else %}
                {% if need_at_least_min_n_reviews %}
                    {{ need_at_least_min_n_reviews }}<br>
                {% endif %}
                <a href='/course/{{ active_course.id }}/task/{{ active_task.attach_id }}/new_peer_review'>
                    <span class="glyphicon glyphicon-plus"></span>
                    Рецензировать новое решение
                </a>
            {% endif %}
            <br><br>

            <div style='width: 300px'>
            <table class='table table-condensed'>
                <tr>
                    <th width='50px'>#</th>
                    <th width='150px'>Дата</th>
                    <th width='75px'>Оценка</th>
                    <th width='20px'></th>
                </tr>
            {% for solution_review in solution_reviews %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if solution_review.date %}
                            {{ solution_review.date.strftime('%d.%m.%Y %H:%M') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if solution_review.is_review_finished %}
                            {{ solution_review.mark }}
                        {% endif %}
                    </td>
                    <td>
                        <a href='/course/{{ active_course.id }}/task/{{ active_task.attach_id }}/peer_review/{{ loop.index }}'>
                            <span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </table>
            </div>
        {% endif %}


        {% if now < active_task.finish_date or active_task.allow_solutions_after_deadline %}
            {% set button_text = 'Отправить решение' %}

            {% if active_task.task.type == 'test' and not active_task.task.info.get('many_attempts') %}
                {% if not current_user.is_admin %}
                    <div class="alert alert-info">
                        Тест можно сдать только один раз
                    </div>
                {% endif %}
                {% if solution.status == 'Init' or current_user.is_admin %}
                    {% if active_task.task.info.get('intro_description') %}
                        {{ active_task.task.info.get('intro_description') | markdown }}
                    {% endif %}
                    {% if current_user.is_admin %}
                        <form method='POST'>
                    {% else %}
                        <form method='POST' onsubmit="return confirm('Тест можно сдать только один раз. Вы уверены, что готовы послать решение?')">
                    {% endif %}
                        <ol>
                            {% for field in form %}
                                {% if field.type == 'MdTextField' %}
                                    {% if loop.index0 != 0 %}
                                    </li>
                                    {% endif %}
                                    <br>
                                    <li>
                                {% endif %}
                                {{ render_field(field) }}
                            {% endfor %}
                                    </li>
                                    <br>
                        </ol>
                        <button type='submit' class='btn btn-default'>{{ button_text }}</button>
                    </form>
                {% endif %}
            {% else %}
                {{ render_form(form, button_text, upload_files=True) }}
            {% endif %}
            <br>
        {% endif %}
    {% endif %}
    </div>


    {% if solutions %}
    <div class='wide-content'>
    <h4>Предыдущие посылки</h4>

    <table class='table table-condensed'>
        <tr>
            <th width='50px'>#</th>
            <th width='150px'>Дата</th>
            <th width='75px'>Файлы</th>
            <th width='75px'>Оценка</th>
            <th>Статус</th>
        </tr>
        {% for solution in solutions %}
            <tr>
                <td>{{ solution.id }}
                    {% if active_task.use_peer_review and now > active_task.peer_review_date and not solution.info['hidden'] %}
                        <a href='/course/{{ active_course.id }}/show_reviews/{{ solution.id }}'>
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    {% endif %}
                    {% if active_task.task.type == 'test' and now > active_task.finish_date %}
                        <a href='/course/{{ active_course.id }}/show_grading/{{ solution.id }}'>
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    {% endif %}
                </td>
                <td>{{ solution.date.strftime('%d.%m.%Y %H:%M') }}</td>
                <td>
                    {% for description in solution.files %}
                        <a href='/solution_file/{{ solution.id }}/{{ description }}'>
                            {{ description }}
                        </a>
                    {% endfor %}
                </td>
                {% if ((not active_task.use_peer_review and
                        (not active_task.hide_results_before_deadline or
                        now > active_task.finish_date)) or
                        (active_task.use_peer_review and now > active_task.peer_review_date and not solution.info['hidden'])) and
                        solution.mark_final is not none %}
                    <td>{{ solution.mark_final }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    {% if 'results' in solution.info or solution.status == 'Preprocessing failed' or solution.status == 'Running failed' %}

                        <a href='#' onclick='return false;' data-toggle='collapse'
                            data-target='#tests{{ solution.id }}'>
                            {{ solution.status }}
                        </a>

                        <div id='tests{{ solution.id }}' class='collapse'>
                            <table class='table table-condensed'>
                                <tr>
                                    <th width='50px'>#</th>
                                    <th width='600px'>Результат</th>
                                    <th>Время работы в секундах</th>
                                </tr>
                                {% if solution.status == 'Preprocessing failed' %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href='#' onclick='return false;' data-toggle='collapse'
                                                data-target='#tests{{ solution.id }}-preproc'>
                                                Preprocessing failed: {{ solution.info['preproc_status'] }}
                                            </a>
                                            <div id='tests{{ solution.id }}-preproc' class='collapse'>
                                                <pre>{{ solution.info['preproc_log'] }}</pre>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% for test in solution.info['results'] %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        {% if not test['hidden'] or
                                                now > active_task.finish_date or
                                                not active_task.hide_results_before_deadline %}
                                            <td>
                                                {% if 'stderr' in test and test['stderr'] %}
                                                    <a href='#' onclick='return false;' data-toggle='collapse'
                                                        data-target='#tests{{ solution.id }}-{{ loop.index }}'>
                                                        {{ test['status'] }}
                                                    </a>
                                                    <div id='tests{{ solution.id }}-{{ loop.index }}' class='collapse'>
                                                        <pre>{{ test['stderr'] }}</pre>
                                                    </div>
                                                {% else %}
                                                    {{ test['status'] }}
                                                {% endif %}
                                            </td>
                                            <td>{{ "%.2f" % test.time }}</td>
                                        {% else %}
                                            <td colspan='2'>
                                                <i>
                                                Скрытый тест, результаты будут известны после
                                                окончания задания
                                                </i>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% if solution.status == 'Grading failed' %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href='#' onclick='return false;' data-toggle='collapse'
                                                data-target='#tests{{ solution.id }}-grading'>
                                                Grading failed: {{ solution.info['grading_status'] }}
                                            </a>
                                            <div id='tests{{ solution.id }}-grading' class='collapse'>
                                                <pre>{{ solution.info['grading_log'] }}</pre>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if solution.status == 'Running failed' %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href='#' onclick='return false;' data-toggle='collapse'
                                                data-target='#tests{{ solution.id }}-running'>
                                                Running failed
                                            </a>
                                            <div id='tests{{ solution.id }}-running' class='collapse'>
                                                <pre>{{ solution.info['running_log'] }}</pre>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            </table>

                    {% elif active_task.use_peer_review and now > active_task.peer_review_date and solution.info['hidden'] %}
                        Рецензии и оценка скрыты, поскольку не прорецензировано минимальное количество решений
                    {% else %}
                        {{ solution.status }}
                    {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
{% endif %}

<script type='text/javascript'>
$('input[type=file]').bootstrapFileInput();
</script>
{% endblock %}
