{% if endpoint == 'course_info' %}
<li class='active'>
{% else %}
<li>
{% endif %}
    <a class="const-grey" href='/course/{{ active_course.id }}/info'>
        Материалы
    </a>
</li>
<li class="separator"></li>
<li>
    {% for task in active_course.tasks %}
        {% if task == active_task %}
        <li class='active'>
        {% else %}
        <li>
        {% endif %}
            <a class="const-grey"  href='/course/{{ active_course.id }}/task/{{ loop.index }}'>
                {{ loop.index }}. {{ task.task.name }}
            </a>
        </li>
    {% endfor %}
</li>
<li class="separator"></li>