{% extends "layout.html" %}

{% block title %}Добавить курс{% endblock %}

{% block side_navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}
<div class='content'>
{{ show_messages() }}
<table class='table table-condensed'>
    <tr>
        <th width='25px'></th>
        <th width='100px'>Название</th>
        <th width='100px'>Кодовое слово</th>
    </tr>
    {% for group in course.groups %}
        <tr>
            <td>
                <a href='/course/{{ course.id }}/edit_group/{{ loop.index }}'>
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td>
            <td>
                {{ group.name }}
            </td>
            <td>
                {{ group.codeword }}
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td>
                <a href='/course/{{ course.id }}/add_group'>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
</table>
</div>
{% endblock %}
