{% extends "layout.html" %}

{% block title %}Образы{% endblock %}

{% block side_navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}
<div class='wide-content'>
    {{ show_messages() }}
    <table class='table table-condensed' width='1000px'>

        <tr>
            <th width='15px'>#</th>
            <th width='15px'></th>
            <th width='50px'>Имя</th>
            <th width='900px'>Статус</th>
        </tr>
        {% for img in imgs %}
            <tr>
                <td>{{ img.id }}</td>
                <td>
                <a href='/edit_image/{{ img.id }}'>
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                </td>
                <td>{{ img.name }}</td>
                <td width='900px'>
                    {% if img.build_log %}
                        <a href='#' onclick='return false;' data-toggle='collapse'
                          data-target='#img{{ img.id }}'>
                            {{ img.status }}
                        </a>
                        <div width='900px' id='img{{ img.id }}' class='collapse'>
                            <pre>{{ img.build_log }}</pre>
                        </div>
                    {% else %}
                        {{ img.status }}
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
