{% from "tools.html" import render_form, render_field, show_messages %}
<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <script src="/static/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <script src="/static/js/moment-with-locales.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/bootstrap.file-input.js"></script>
    <script src='/static/js/tablesorter.min.js'></script>

    <link rel="stylesheet" href="/static/css/navbar_style.css">

    <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$']],
        displayMath: [['$$', '$$']]
      }
    };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script>
        $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            // open or close navbar
            $('#sidebar').toggleClass('active');
            $('#content').toggleClass('pos');
            // close dropdowns
            $('.collapse.in').toggleClass('in');
            // and also adjust aria-expanded attributes we use for the open/closed arrows
            // in our CSS
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
    </script>


    <style type='text/css'>
        .content {
            max-width: 800px;
            padding-top: 9px;
            padding-left: 15px;
        }
        .wide-content {
            width: 1000px;
            padding-top: 9px;
            padding-left: 15px;
        }
        .fullwide-content {
            width: 100%;
            padding-top: 9px;
            padding-left: 15px;
        }
    {% block page_css %}
    {% endblock %}
    </style>
</head>
<body>

{% block wrapper %}
<div class="wrapper">
    {% block side_navbar %}
    <nav id="sidebar" style="overflow:auto;">
        <!-- Sidebar Header -->
    </nav>

    {% endblock %}
         <!-- Page Content -->
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
    <script type='text/javascript'>
    $(function () {
        $('.timepicker').each(function(){
            $(this).datetimepicker({format: 'DD.MM.YYYY HH:mm'});
        });
    });
    </script>
</body>
</html>
