{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block side_navbar %}
<nav id="sidebar" style="overflow:auto">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h4 style="text-align: center">{{ current_user.firstname }}</h4>
    </div>

     <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <!-- Link with dropdown items -->
        {% include 'left_dropdown_navbar.html' %}
        {% include 'course_materials_navbar.html' %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/standings'>
                Таблица результатов
            </a>
        </li>
        {% if current_user.is_admin %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/solutions'>
                Решения
            </a>
        </li>
        {% endif %}
        {% include 'profile_navbar.html' %}
    </ul>
</nav>
    {% include 'button_navbar.html' %}
{% endblock %}


{% block content %}
<div class='content'>
    <h4>Инструкция по рецензированию</h4>
        <p>
        {{ active_task.peer_review_criteria | markdown }}
        </p>

        <h4>Файлы решения</h4>
        {% for description in solution.files %}
            {% if peer_review_id %}
                <a href='/course/{{ active_course.id }}/task/{{ task_id }}/review_solution_file/{{ peer_review_id }}/{{ description }}'>
                    {{ description }}
                </a>
            {% else %}
                <a href='/solution_file/{{ solution.id }}/{{ description }}'>
                    {{ description }}
                </a>
            {% endif %}
        {% endfor %}
        <br><br>

        <h4>Рецензии</h4>

        {% for i_item, item in enumerate(active_task.peer_review_items) %}
            <table class="table">
                <tr><td><b>{{ item['name'] }}</b></td></tr>
                {% for i_rule, item_rule in enumerate(item['rules']) %}
                    <tr>
                        <td class="col-md-2">
                            {{ item_rule['mark'] }}
                            {{ get_num_ending(item_rule['mark'], ['балл', 'балла', 'баллов']) }}<br>
                            {{ item_rule['mark_description'] }}<br>
                        </td>
                        <td class="col-md-4">
                            <div class="btn-group">
                                {% set was_mark = [False] %}
                                {% for i, solution_review in enumerate(solution_reviews) %}
                                    {% if not solution_review.is_review_finished %}
                                        {% continue %}
                                    {% endif %}
                                    {% if solution_review.review_rules[i_item] == i_rule  %}
                                        {% if was_mark.append(was_mark.pop() + True) %}{% endif %}
                                        <a href="#" class="rater_{{ i }} btn btn-default">
                                            {% if current_user.is_admin %}
                                                {{ solution_review.rater.lastname }} {{ solution_review.rater.firstname }}
                                            {% else %}
                                                Рецензия №{{ i + 1 }}
                                            {% endif %}
                                            {% if solution_review.rater.is_admin %}
                                                <span class="label label-danger">Преподаватель</span>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {%  endfor %}
                                {% if not was_mark[0] %}
                                    ---
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {%  endfor %}
            </table>
        {% endfor %}

        <h4>Комментарии</h4>

        <div class="list-group">
            {% for i, solution_review in enumerate(solution_reviews) %}
                <a href="#" class="rater_{{ i }} list-group-item">
                    <h4 class="list-group-item-heading">
                        {% if current_user.is_admin %}
                            {{ solution_review.rater.lastname }} {{ solution_review.rater.firstname }}
                        {% else %}
                            Рецензия №{{ i + 1 }}
                        {% endif %}
                    </h4>
                    {% if solution_review.rater.is_admin %}
                        <span class="label label-danger">Преподаватель</span>
                    {% endif %}
                    <p class="list-group-item-text">{{ str(solution_review.rater_comment) | markdown }}</p>
                </a>
            {% endfor %}
        </div>
</div>


<script type='text/javascript'>
$('input[type=file]').bootstrapFileInput();
</script>

<script type='text/javascript'>
    $('.list-group-item').on('click', function() {
        $this = $(this);

        var need_update = true;
        if ($this.hasClass('active')) {
            need_update = false;
        }

        $('.btn-primary').removeClass('btn-primary');
        $('.active').removeClass('active');

        if (need_update) {
            var elements = document.getElementsByClassName($this.attr('class').split(' ')[0]);
            for(var i = 0; i < elements.length; i++) {
                if (elements[i].classList.contains('btn')) {
                    elements[i].classList.add('btn-primary');
                } else {
                    elements[i].classList.add('active');
                }
            }
        }
    });

    $('.btn').on('click', function() {
        $this = $(this);

        var need_update = true;
        if ($this.hasClass('btn-primary')) {
            need_update = false;
        }

        $('.btn-primary').removeClass('btn-primary');
        $('.active').removeClass('active');

        if (need_update) {
            var elements = document.getElementsByClassName($this.attr('class').split(' ')[0]);
            for(var i = 0; i < elements.length; i++) {
                if (elements[i].classList.contains('btn')) {
                    elements[i].classList.add('btn-primary');
                } else {
                    elements[i].classList.add('active');
                }
            }
        }
    });
</script>

{% endblock %}
