{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block side_navbar %}
<nav id="sidebar" style="overflow:auto">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h4 style="text-align: center">{{ current_user.firstname }}</h4>
    </div>

     <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <!-- Link with dropdown items -->
        {% include 'left_dropdown_navbar.html' %}
        {% include 'course_materials_navbar.html' %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/standings'>
                Таблица результатов
            </a>
        </li>
        {% if current_user.is_admin %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/solutions'>
                Решения
            </a>
        </li>
        {% endif %}
        {% include 'profile_navbar.html' %}
    </ul>
</nav>
    {% include 'button_navbar.html' %}
{% endblock %}


{% block content %}
<div class='wide-content'>
{{ show_messages() }}

<nav>
    <ul class="pagination" style="margin-top: 0">
        {% if raters_page.has_prev %}
           <li><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, page_id=raters_page.prev_num, sort_order=sort_order, sort_by=sort_by) }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}

        {%- for page in raters_page.iter_pages(1, 1, 2, 1) %}
            {% if page %}
                {% if page != raters_page.page %}
                    <li><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, page_id=page, sort_order=sort_order, sort_by=sort_by) }}">{{ page }}</a></li>
                {% else %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">…</a></li>
            {% endif %}
        {%- endfor %}

        {% if raters_page.has_next %}
            <li><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, page_id=raters_page.next_num, sort_order=sort_order, sort_by=sort_by) }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>

{% set sort_order_cur = 'desc' if sort_order == 'asc' else 'asc' %}
{% set sort_icon = 'glyphicon glyphicon-triangle-top' if sort_order == 'asc' else 'glyphicon glyphicon-triangle-bottom' %}

<table class='table table-condensed'>
    <tr>
        <th width='50px'><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, sort_by='id', sort_order=sort_order_cur if sort_by == 'id' else 'desc') }}">
            #{% if sort_by == 'id' %}
            <span class="{{ sort_icon }}"></span>
            {% else %}{% endif %}
        </a></th>
        <th width='200px'>Оценивающий</th>
        <th width='150px'><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, sort_by='mark', sort_order=sort_order_cur if sort_by == 'mark' else 'desc') }}">
            Средняя выставленная оценка{% if sort_by == 'mark' %}
            <span class="{{ sort_icon }}"></span>
            {% else %}{% endif %}
        </a></th>
        <th width='100px'><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, sort_by='reviews_count', sort_order=sort_order_cur if sort_by == 'reviews_count' else 'desc') }}">
            Количество оценок{% if sort_by == 'reviews_count' %}
            <span class="{{ sort_icon }}"></span>
            {% else %}{% endif %}
        </a></th>
    </tr>
    {% for rater, avg_reviews_mark, reviews_count in raters_page.items %}
        {% if avg_reviews_mark %}
        <tr>
            <td>{{ rater.id }}</td>
            <td><a href="{{ url_for("show_task_reviews", course_id=active_course.id, task_id=task_id, rater_id=rater.id) }}">
                {{ rater.lastname }}
                {{ rater.firstname }}
            </a>
            </td>
            <td>{{ round(avg_reviews_mark, 2) }}</td>
            <td>{{ reviews_count }}</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
</div>
{% endblock %}
